*{

	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
body{
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	color: #303030;
}
header,nav,section,aside,footer{
	display: block;
}
img{
	border: none;
}
h2{/*Dark gray titles*/
	font-family: Arial;
	font-size: 14px;
	color: #404040;
}
h3{/*For titles*/
	margin-bottom:10px;
    margin-top: 5px;
	font-size: 22px;
	color: white;
	text-shadow:1px 1px 3px #080808;
    margin-left: 10px;
}
h4{/*Movie release dates*/
	margin-bottom:2px;
    margin-top:-5px;
	font-size: 14px;
	color: #000000;
    margin-left: 10px;
}
h5{/*Movie titles*/
	font-family: Arial;
	font-size: 14px;
	font-weight:bold;
	color: #555555;
    margin-bottom: 5px;
    line-height: 16px;
}
h6{/*address in shipping info*/
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	color: #606060;
}

table{
	width: 100%;
	text-align: center;
    table-layout:fixed;
}
th{
	color: #888888;
	font-weight: normal;
	text-decoration: underline;
}
td{
	padding: 3px 10px;
    word-wrap:break-word;
}
a:link{
	color: #006699;
	text-decoration: none;
}
a:visited{
	color: #006699;
	text-decoration: none;
}
a:hover{
	color: #CC6600;
	text-decoration: none;
}
a:active{
	color: #CC6600;
	text-decoration: none;
}
.dates{
	color: #CC6600;
	font-weight: bold;
}
.offers{
	color: #404040;
	font-weight: bold;
}
.usernames{
	color: #006699;
	font-weight: 900;
}
.subtitles{
	color: #707070;
}
#wrapper{
	width: 1000px;
	margin: 15px auto 0px;
	text-align: left;
}
#main_header{
	/*space with logo and top links*/
}
#rightAlign{
	float: right;
	text-align: right;
}
#top_search{
	margin-top: 10px;
    margin-bottom: 10px;
	padding: 7px 0px 7px 10px;
	display: block; 
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #006699;
}
#main_aside{
	width: 208px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-width: 1px;
	float: left;
}
#aside_container
{
    width: 200px;
    margin-top: 0px 20px;
    padding: 10px;
    display: block;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
   	background-color: #006699;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
}
#aside_section
{
    width: 180px;
    height: 20px;
    padding: 4px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #303030;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #606060;
    margin: 1px;
   	text-shadow:1px 1px 3px #B0B0B0;
}
#aside_section:hover
{
    width: 180px;
    height: 20px;
    padding: 4px;
    background-color: #f6b33d;
    border-style: solid;
    border-width: 1px;
    border-color: #303030;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-family: Arial;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 20px;
    margin: 1px;
   	text-shadow:1px 1px 3px #202020;
}
#main_section{
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	width: 780px;
}
#main_footer{
	padding-top: 30px;
	clear: both;
	font-size: 10px;
}
.searchBox{
	padding: 2px;
	border: 1px solid #b9bdc1;
	color: #505050;
}
.button{
	-moz-box-shadow: 0px 1px 0px 0px #fed897;
	-webkit-box-shadow: 0px 1px 0px 0px #fed897;
	box-shadow: 0px 1px 0px 0px #fed897;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background: -moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color: #f6b33d;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #eda933;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 5px #303030;
    margin-left: 10px;
}.button:hover{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background: -moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color: #d29105;
}.button_active{
	position: relative;
	top: 1px;
}
.page_message{
	color: white;
	background-color: #00CC33;
	padding: 4px;
	margin-top: 10px;
	font-family: Arial;
	font-weight: bold;
    line-height: 20px;
}
.page_error{
    color: white;
	background-color: #D00000;
	padding: 4px;
	margin-top: 10px;
	font-family: Arial;
	font-weight: bold;
    line-height: 20px;
}
#color_container
{
    float:left;
    width: 990px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: block;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
    background-color: #006699;
}
#white_container
{
    float:left;
    width: 990px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: block;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
   	background-color: #FFFFFF;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
}
#movie_container
{
    width: 150px;
    height: 210px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #808080;
	-moz-box-shadow: 5px 5px 15px #808080;
	-webkit-box-shadow: 5px 5px 15px #808080;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}
#movie_container:hover
{
    width: 150px;
    height: 210px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    border:2px solid #f6b33d;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #808080;
	-moz-box-shadow: 5px 5px 15px #808080;
	-webkit-box-shadow: 5px 5px 15px #808080;
    margin: -2px;
    margin-bottom: 8px;
    background-color: #FFFFFF;
}
#premiere_container
{
    width: 150px;
    height: 220px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #808080;
	-moz-box-shadow: 5px 5px 15px #808080;
	-webkit-box-shadow: 5px 5px 15px #808080;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}
#premiere_container:hover
{
    width: 150px;
    height: 220px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    border:2px solid #f6b33d;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #808080;
	-moz-box-shadow: 5px 5px 15px #808080;
	-webkit-box-shadow: 5px 5px 15px #808080;
    margin: -2px;
    margin-bottom: 8px;
    background-color: #FFFFFF;
}
#premiere_placeholder
{
    width: 150px;
    height: 220px;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
}
#movie_placeholder
{
    width: 150px;
    height: 210px;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
}
.premieres
{
    color: #FFFFFF;
   	text-shadow:1px 1px 3px #303030;
}
.movies
{
    color: #006699;
   	text-shadow:1px 1px 3px #808080;
}
.more
{
    color: #FFFFFF; 
    font-weight: bold;  
    margin-right: 5px;
}
.more:hover
{
    color: #f6b33d;     
    margin-right: 5px;
}
.more2
{
    color: #006699; 
    font-weight: bold;  
    margin-right: 5px;
}
.more2:hover
{
    color: #f6b33d;  
    margin-right: 5px;
}
.poster
{
    width: 120px;
}

.today
{
    color: #ff0000;
}